pipeline/RUN-ETL.json
{
	"name": "RUN-ETL",
	"properties": {
		"activities": [
			{
				"name": "READ-CONFIG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "BLOB_CSV_RW",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.source_container",
								"type": "Expression"
							},
							"file_path": "Configs",
							"file_name": "Table-Config-ETL.csv",
							"delimiter": ",",
							"escape_char": "\""
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FILTER-RECORDS",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "READ-CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('READ-CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IS_Active, 'TRUE')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RUN-EACH-TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER-RECORDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER-RECORDS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "BUILD-TARGET-PATH",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "target_path",
								"value": {
									"value": "@concat(item().TableName, '/', split(split(utcnow(), 'T')[0], '-')[0], '/', split(split(utcnow(), 'T')[0], '-')[1], '/', split(split(utcnow(), 'T')[0], '-')[2], '/', split(split(utcnow(), 'T')[1], ':')[0], split(split(utcnow(), 'T')[1], ':')[1])",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CREATE-RAW-TABLE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "BUILD-TARGET-PATH",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BLOB_CSV_RW",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.source_container",
											"type": "Expression"
										},
										"file_path": {
											"value": "@concat(pipeline().parameters.source_path, '/', item().TableName)",
											"type": "Expression"
										},
										"file_name": "dataset.csv",
										"delimiter": "|",
										"escape_char": "\\"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GEN2_AVRO_RW",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "raw",
										"file_path": {
											"value": "@variables('target_path')",
											"type": "Expression"
										},
										"file_name": "dataset.avro",
										"APP_ID": {
											"value": "@pipeline().globalParameters.GBL_PRM_APP_ID",
											"type": "Expression"
										},
										"APP_SECRET": {
											"value": "@pipeline().globalParameters.GBL_PRM_APP_SECRET_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CREATE-CURATED-TABLE",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CREATE-RAW-TABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/FRAMEWORK/ETL/RUN_ETL",
								"baseParameters": {
									"table_name": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"load_type": {
										"value": "@item().LoadType",
										"type": "Expression"
									},
									"primary_keys": {
										"value": "@item().PrimaryColumn",
										"type": "Expression"
									},
									"timestamp_keys": {
										"value": "@item().TimestampColumn",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ADB",
								"type": "LinkedServiceReference",
								"parameters": {
									"PRM_ADB_URL": {
										"value": "@pipeline().globalParameters.GBL_PRM_ADB_URL",
										"type": "Expression"
									},
									"PRM_ADB_ACCESS_TOKEN_NAME": {
										"value": "@pipeline().globalParameters.GBL_PRM_ADB_ACCESS_TOKEN_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"source_container": {
				"type": "string",
				"defaultValue": "demo"
			},
			"source_path": {
				"type": "string",
				"defaultValue": "IN-BOUND"
			},
			"target_path": {
				"type": "string",
				"defaultValue": "OUT-BOUND"
			}
		},
		"variables": {
			"target_path": {
				"type": "String"
			}
		},
		"annotations": []
	}
}