CAMPAING-ADF-DEVTEST/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CAMPAING-ADF-DEVTEST"
		},
		"LS_AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().PRM_AKV}"
		},
		"LS_ABS_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().LS_PRM_BLOB_CONN_STRNG_SCRT_NAME"
		},
		"LS_ADLS_GEN2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://campaignadlsgen2devtest.dfs.core.windows.net"
		},
		"LS_ADLS_GEN2_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "44bb2b85-300c-44d0-b08a-658ac3914f86"
		},
		"LS_ADLS_GEN2_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "@{linkedService().APP_ID}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_AKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"PRM_AKV": {
						"type": "string",
						"defaultValue": "https://campaign-kv-devtest.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ABS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"LS_PRM_BLOB_CONN_STRNG_SCRT_NAME": {
						"type": "string",
						"defaultValue": "BLOB-CONN-STRING-DEV"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV",
							"type": "LinkedServiceReference",
							"parameters": {
								"PRM_AKV": "https://campaign-kv-devtest.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "[parameters('LS_ABS_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"PRM_ADB_URL": {
						"type": "string",
						"defaultValue": "https://adb-6947215888317529.9.azuredatabricks.net"
					},
					"PRM_ADB_ACCESS_TOKEN_NAME": {
						"type": "string",
						"defaultValue": "ADB-ACCESS-TOKEN"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().PRM_ADB_URL",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV",
							"type": "LinkedServiceReference",
							"parameters": {
								"PRM_AKV": "https://campaign-kv-devtest.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "@linkedService().PRM_ADB_ACCESS_TOKEN_NAME",
							"type": "Expression"
						}
					},
					"existingClusterId": "0620-022650-zm22jn9y"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_GEN2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"APP_ID": {
						"type": "string"
					},
					"App_SECRET": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_GEN2_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_ADLS_GEN2_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_ADLS_GEN2_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV",
							"type": "LinkedServiceReference",
							"parameters": {
								"PRM_AKV": "https://campaign-kv-devtest.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "@linkedService().App_SECRET",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_CSV_RW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABS",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_PRM_BLOB_CONN_STRNG_SCRT_NAME": "BLOB-CONN-STRING-DEV"
					}
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"file_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"delimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"escape_char": {
						"type": "string",
						"defaultValue": "\\"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().file_path",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().delimiter",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escape_char",
						"type": "Expression"
					},
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_PARQUET_RW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABS",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_PRM_BLOB_CONN_STRNG_SCRT_NAME": "BLOB-CONN-STRING-DEV"
					}
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"file_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().file_path",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_name",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GEN2_AVRO_RW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_GEN2",
					"type": "LinkedServiceReference",
					"parameters": {
						"APP_ID": {
							"value": "@dataset().APP_ID",
							"type": "Expression"
						},
						"App_SECRET": {
							"value": "@dataset().APP_SECRET",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"container_name": {
						"type": "string"
					},
					"file_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"APP_ID": {
						"type": "string"
					},
					"APP_SECRET": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().file_path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container_name",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_GEN2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN-ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "READ-CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "BLOB_CSV_RW",
								"type": "DatasetReference",
								"parameters": {
									"container_name": {
										"value": "@pipeline().parameters.source_container",
										"type": "Expression"
									},
									"file_path": "Configs",
									"file_name": "Table-Config-ETL.csv",
									"delimiter": ",",
									"escape_char": "\""
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FILTER-RECORDS",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "READ-CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('READ-CONFIG').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().IS_Active, 'TRUE')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RUN-EACH-TABLE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FILTER-RECORDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FILTER-RECORDS').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "BUILD-TARGET-PATH",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "target_path",
										"value": {
											"value": "@concat(item().TableName, '/', split(split(utcnow(), 'T')[0], '-')[0], '/', split(split(utcnow(), 'T')[0], '-')[1], '/', split(split(utcnow(), 'T')[0], '-')[2], '/', split(split(utcnow(), 'T')[1], ':')[0], split(split(utcnow(), 'T')[1], ':')[1])",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CREATE-RAW-TABLE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "BUILD-TARGET-PATH",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AvroSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "AvroWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "BLOB_CSV_RW",
											"type": "DatasetReference",
											"parameters": {
												"container_name": {
													"value": "@pipeline().parameters.source_container",
													"type": "Expression"
												},
												"file_path": {
													"value": "@concat(pipeline().parameters.source_path, '/', item().TableName)",
													"type": "Expression"
												},
												"file_name": "dataset.csv",
												"delimiter": "|",
												"escape_char": "\\"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GEN2_AVRO_RW",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "raw",
												"file_path": {
													"value": "@variables('target_path')",
													"type": "Expression"
												},
												"file_name": "dataset.avro",
												"APP_ID": {
													"value": "@pipeline().globalParameters.GBL_PRM_APP_ID",
													"type": "Expression"
												},
												"APP_SECRET": {
													"value": "@pipeline().globalParameters.GBL_PRM_APP_SECRET_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "CREATE-CURATED-TABLE",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CREATE-RAW-TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/FRAMEWORK/ETL/RUN_ETL",
										"baseParameters": {
											"table_name": {
												"value": "@item().TableName",
												"type": "Expression"
											},
											"load_type": {
												"value": "@item().LoadType",
												"type": "Expression"
											},
											"primary_keys": {
												"value": "@item().PrimaryColumn",
												"type": "Expression"
											},
											"timestamp_keys": {
												"value": "@item().TimestampColumn",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB",
										"type": "LinkedServiceReference",
										"parameters": {
											"PRM_ADB_URL": {
												"value": "@pipeline().globalParameters.GBL_PRM_ADB_URL",
												"type": "Expression"
											},
											"PRM_ADB_ACCESS_TOKEN_NAME": {
												"value": "@pipeline().globalParameters.GBL_PRM_ADB_ACCESS_TOKEN_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"source_container": {
						"type": "string",
						"defaultValue": "demo"
					},
					"source_path": {
						"type": "string",
						"defaultValue": "IN-BOUND"
					},
					"target_path": {
						"type": "string",
						"defaultValue": "OUT-BOUND"
					}
				},
				"variables": {
					"target_path": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BLOB_CSV_RW')]",
				"[concat(variables('factoryId'), '/datasets/GEN2_AVRO_RW')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN-TRANSFORM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "READ-CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "BLOB_CSV_RW",
								"type": "DatasetReference",
								"parameters": {
									"container_name": {
										"value": "@pipeline().parameters.source_container",
										"type": "Expression"
									},
									"file_path": "Configs",
									"file_name": "Table-Config-PROCESS.csv",
									"delimiter": ",",
									"escape_char": "\""
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FILTER-RECORDS",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "READ-CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('READ-CONFIG').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().IS_Active, 'TRUE')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RUN-EACH-TABLE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FILTER-RECORDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FILTER-RECORDS').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CREATE-CURATED-TABLE",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/FRAMEWORK/ETL/RUN-TRANSFORMER",
										"baseParameters": {
											"table_name": {
												"value": "@item().TableName",
												"type": "Expression"
											},
											"source_path": "/mnt/curated",
											"target_path": "/mnt/analytics",
											"sector": {
												"value": "@item().Sector",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB",
										"type": "LinkedServiceReference",
										"parameters": {
											"PRM_ADB_URL": {
												"value": "@pipeline().globalParameters.GBL_PRM_ADB_URL",
												"type": "Expression"
											},
											"PRM_ADB_ACCESS_TOKEN_NAME": {
												"value": "@pipeline().globalParameters.GBL_PRM_ADB_ACCESS_TOKEN_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"source_container": {
						"type": "string",
						"defaultValue": "demo"
					},
					"source_path": {
						"type": "string",
						"defaultValue": "IN-BOUND"
					},
					"target_path": {
						"type": "string",
						"defaultValue": "OUT-BOUND"
					}
				},
				"variables": {
					"target_path": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BLOB_CSV_RW')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB')]"
			]
		}
	]
}